<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>w</p>
<p>e</p>
<p>d</p>
<p>f</p>
<script src="../js/index.js" charset="utf-8"></script>
</body>
</html>